<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">
            Tax Document
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

<pre>
{{ qrData }}
</pre>

    <ion-button ion-button
                expand="block"
                (click)="submitClicked( )">
        Push Scanned Data to Tax Doc Hub
    </ion-button>

</ion-content>
