<ion-app>

  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="welcome">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="scan-doc">
        <ion-label>Scan QR</ion-label>
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-tab-button>

      <ion-tab-button *ngIf="global.testMode" tab="scan-sim">
        <ion-label>Simulate</ion-label>
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="docs">
        <ion-label>Your Docs</ion-label>
        <ion-icon name="document"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-app>
