
<app-tax1041k1-facsimile *ngIf="docId == 'Tax1041K1'" [doc]="docData.taxData.tax1041K1"></app-tax1041k1-facsimile>
<app-tax1065k1-facsimile *ngIf="docId == 'Tax1065K1'" [doc]="docData.taxData.tax1065K1"></app-tax1065k1-facsimile>
<app-tax1095a-facsimile *ngIf="docId == 'Tax1095A'" [doc]="docData.taxData.tax1095A"></app-tax1095a-facsimile>
<app-tax1095b-facsimile *ngIf="docId == 'Tax1095B'" [doc]="docData.taxData.tax1095B"></app-tax1095b-facsimile>
<app-tax1095c-facsimile *ngIf="docId == 'Tax1095C'" [doc]="docData.taxData.tax1095C"></app-tax1095c-facsimile>
<app-tax1097btc-facsimile *ngIf="docId == 'Tax1097Btc'" [doc]="docData.taxData.tax1097Btc"></app-tax1097btc-facsimile>
<app-tax1098-facsimile *ngIf="docId == 'Tax1098'" [doc]="docData.taxData.tax1098"></app-tax1098-facsimile>
<app-tax1098c-facsimile *ngIf="docId == 'Tax1098C'" [doc]="docData.taxData.tax1098C"></app-tax1098c-facsimile>
<app-tax1098e-facsimile *ngIf="docId == 'Tax1098E'" [doc]="docData.taxData.tax1098E"></app-tax1098e-facsimile>
<app-tax1098t-facsimile *ngIf="docId == 'Tax1098T'" [doc]="docData.taxData.tax1098T"></app-tax1098t-facsimile>
<app-tax1099a-facsimile *ngIf="docId == 'Tax1099A'" [doc]="docData.taxData.tax1099A"></app-tax1099a-facsimile>
<app-tax1099b-facsimile *ngIf="docId == 'Tax1099B'" [doc]="docData.taxData.tax1099B"></app-tax1099b-facsimile>
<app-tax1099c-facsimile *ngIf="docId == 'Tax1099C'" [doc]="docData.taxData.tax1099C"></app-tax1099c-facsimile>
<app-tax1099cap-facsimile *ngIf="docId == 'Tax1099Cap'" [doc]="docData.taxData.tax1099Cap"></app-tax1099cap-facsimile>
<app-tax1099div-facsimile *ngIf="docId == 'Tax1099Div'" [doc]="docData.taxData.tax1099Div"></app-tax1099div-facsimile>
<app-tax1099g-facsimile *ngIf="docId == 'Tax1099G'" [doc]="docData.taxData.tax1099G"></app-tax1099g-facsimile>
<app-tax1099h-facsimile *ngIf="docId == 'Tax1099H'" [doc]="docData.taxData.tax1099H"></app-tax1099h-facsimile>
<app-tax1099int-facsimile *ngIf="docId == 'Tax1099Int'" [doc]="docData.taxData.tax1099Int"></app-tax1099int-facsimile>
<app-tax1099k-facsimile *ngIf="docId == 'Tax1099K'" [doc]="docData.taxData.tax1099K"></app-tax1099k-facsimile>
<app-tax1099ltc-facsimile *ngIf="docId == 'Tax1099Ltc'" [doc]="docData.taxData.tax1099Ltc"></app-tax1099ltc-facsimile>
<app-tax1099misc-facsimile *ngIf="docId == 'Tax1099Misc'" [doc]="docData.taxData.tax1099Misc"></app-tax1099misc-facsimile>
<app-tax1099oid-facsimile *ngIf="docId == 'Tax1099Oid'" [doc]="docData.taxData.tax1099Oid"></app-tax1099oid-facsimile>
<app-tax1099patr-facsimile *ngIf="docId == 'Tax1099Patr'" [doc]="docData.taxData.tax1099Patr"></app-tax1099patr-facsimile>
<app-tax1099q-facsimile *ngIf="docId == 'Tax1099Q'" [doc]="docData.taxData.tax1099Q"></app-tax1099q-facsimile>
<app-tax1099r-facsimile *ngIf="docId == 'Tax1099R'" [doc]="docData.taxData.tax1099R"></app-tax1099r-facsimile>
<app-tax1099s-facsimile *ngIf="docId == 'Tax1099S'" [doc]="docData.taxData.tax1099S"></app-tax1099s-facsimile>
<app-tax1099sa-facsimile *ngIf="docId == 'Tax1099Sa'" [doc]="docData.taxData.tax1099Sa"></app-tax1099sa-facsimile>
<app-tax1120sk1-facsimile *ngIf="docId == 'Tax1120SK1'" [doc]="docData.taxData.tax1120SK1"></app-tax1120sk1-facsimile>
<app-tax2439-facsimile *ngIf="docId == 'Tax2439'" [doc]="docData.taxData.tax2439"></app-tax2439-facsimile>
<app-tax5498-facsimile *ngIf="docId == 'Tax5498'" [doc]="docData.taxData.tax5498"></app-tax5498-facsimile>
<app-tax5498esa-facsimile *ngIf="docId == 'Tax5498Esa'" [doc]="docData.taxData.tax5498Esa"></app-tax5498esa-facsimile>
<app-tax5498sa-facsimile *ngIf="docId == 'Tax5498Sa'" [doc]="docData.taxData.tax5498Sa"></app-tax5498sa-facsimile>
<app-taxw2-facsimile *ngIf="docId == 'TaxW2'" [doc]="docData.taxData.taxW2"></app-taxw2-facsimile>
<app-taxw2g-facsimile *ngIf="docId == 'TaxW2G'" [doc]="docData.taxData.taxW2G"></app-taxw2g-facsimile>

