<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            Test
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>

            <div #wrapperDiv
                 id="wrapperDiv"
                 width="100%">

                <canvas #canvasElement
                        id="canvasElement"
                        width="100"
                        height="150">

                </canvas>

            </div>

            <div>
                <p>
                    Width:
                </p>
                <p>
                    {{ divView.nativeElement.clientWidth }}
                    {{ canvasView.nativeElement.width }}
                </p>
            </div>

        </ion-card-content>
    </ion-card>
</ion-content>
