
<app-tax1041k1 *ngIf="docId == 'Tax1041K1'" [doc]="docData.taxData.tax1041K1"></app-tax1041k1>
<app-tax1065k1 *ngIf="docId == 'Tax1065K1'" [doc]="docData.taxData.tax1065K1"></app-tax1065k1>
<app-tax1095a *ngIf="docId == 'Tax1095A'" [doc]="docData.taxData.tax1095A"></app-tax1095a>
<app-tax1095b *ngIf="docId == 'Tax1095B'" [doc]="docData.taxData.tax1095B"></app-tax1095b>
<app-tax1095c *ngIf="docId == 'Tax1095C'" [doc]="docData.taxData.tax1095C"></app-tax1095c>
<app-tax1097btc *ngIf="docId == 'Tax1097Btc'" [doc]="docData.taxData.tax1097Btc"></app-tax1097btc>
<app-tax1098 *ngIf="docId == 'Tax1098'" [doc]="docData.taxData.tax1098"></app-tax1098>
<app-tax1098c *ngIf="docId == 'Tax1098C'" [doc]="docData.taxData.tax1098C"></app-tax1098c>
<app-tax1098e *ngIf="docId == 'Tax1098E'" [doc]="docData.taxData.tax1098E"></app-tax1098e>
<app-tax1098t *ngIf="docId == 'Tax1098T'" [doc]="docData.taxData.tax1098T"></app-tax1098t>
<app-tax1099a *ngIf="docId == 'Tax1099A'" [doc]="docData.taxData.tax1099A"></app-tax1099a>
<app-tax1099b *ngIf="docId == 'Tax1099B'" [doc]="docData.taxData.tax1099B"></app-tax1099b>
<app-tax1099c *ngIf="docId == 'Tax1099C'" [doc]="docData.taxData.tax1099C"></app-tax1099c>
<app-tax1099cap *ngIf="docId == 'Tax1099Cap'" [doc]="docData.taxData.tax1099Cap"></app-tax1099cap>
<app-tax1099div *ngIf="docId == 'Tax1099Div'" [doc]="docData.taxData.tax1099Div"></app-tax1099div>
<app-tax1099g *ngIf="docId == 'Tax1099G'" [doc]="docData.taxData.tax1099G"></app-tax1099g>
<app-tax1099h *ngIf="docId == 'Tax1099H'" [doc]="docData.taxData.tax1099H"></app-tax1099h>
<app-tax1099int *ngIf="docId == 'Tax1099Int'" [doc]="docData.taxData.tax1099Int"></app-tax1099int>
<app-tax1099k *ngIf="docId == 'Tax1099K'" [doc]="docData.taxData.tax1099K"></app-tax1099k>
<app-tax1099ltc *ngIf="docId == 'Tax1099Ltc'" [doc]="docData.taxData.tax1099Ltc"></app-tax1099ltc>
<app-tax1099misc *ngIf="docId == 'Tax1099Misc'" [doc]="docData.taxData.tax1099Misc"></app-tax1099misc>
<app-tax1099oid *ngIf="docId == 'Tax1099Oid'" [doc]="docData.taxData.tax1099Oid"></app-tax1099oid>
<app-tax1099patr *ngIf="docId == 'Tax1099Patr'" [doc]="docData.taxData.tax1099Patr"></app-tax1099patr>
<app-tax1099q *ngIf="docId == 'Tax1099Q'" [doc]="docData.taxData.tax1099Q"></app-tax1099q>
<app-tax1099r *ngIf="docId == 'Tax1099R'" [doc]="docData.taxData.tax1099R"></app-tax1099r>
<app-tax1099s *ngIf="docId == 'Tax1099S'" [doc]="docData.taxData.tax1099S"></app-tax1099s>
<app-tax1099sa *ngIf="docId == 'Tax1099Sa'" [doc]="docData.taxData.tax1099Sa"></app-tax1099sa>
<app-tax1120sk1 *ngIf="docId == 'Tax1120SK1'" [doc]="docData.taxData.tax1120SK1"></app-tax1120sk1>
<app-tax2439 *ngIf="docId == 'Tax2439'" [doc]="docData.taxData.tax2439"></app-tax2439>
<app-tax5498 *ngIf="docId == 'Tax5498'" [doc]="docData.taxData.tax5498"></app-tax5498>
<app-tax5498esa *ngIf="docId == 'Tax5498Esa'" [doc]="docData.taxData.tax5498Esa"></app-tax5498esa>
<app-tax5498sa *ngIf="docId == 'Tax5498Sa'" [doc]="docData.taxData.tax5498Sa"></app-tax5498sa>
<app-taxw2 *ngIf="docId == 'TaxW2'" [doc]="docData.taxData.taxW2"></app-taxw2>
<app-taxw2g *ngIf="docId == 'TaxW2G'" [doc]="docData.taxData.taxW2G"></app-taxw2g>

