<ion-header>
    <ion-toolbar>
        <ion-title color="primary">Upload Your Tax Doc(s)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!--
    <h2>
        To Upload Your Data to Your Tax Doc Hub Locker
    </h2>

    <p>
        On your computer, go to your Tax Doc Hub locker:
    </p>

    <ol>
        <li>Open your browser</li>
        <li>Go to www.taxdochub.com/user</li>
        <li>Sign in to your account. (Create an account if you do not have one.)</li>
        <li>Click the 'Generate QR Code for Upload' button</li>
    </ol>

    <p>

        Then on this device:
    <p>

    <ol>
        <li>Click the button below</li>
        <li>Snap the QR Code</li>
    </ol>

    <p>
        The app will post your tax docs to your Tax Doc Hub locker.
    </p>

    <ion-button color="primary"
                expand="block"
                (click)="onClickGoToScanUp( )">
        Scan QR Code from Tax Doc Hub
    </ion-button>

-->

    <ion-button ion-button
                expand="block"
                (click)="simulateUpload( )">
        Simulate Upload
    </ion-button>


<pre>{{ global.uploadDataResponse$ | async | json }}</pre>

</ion-content>

