<ion-header>
    <ion-toolbar>
        <ion-title color="primary">Your Tax Docs</ion-title>
        <!-- Not needed. 2019 10 04 BVW
        <ion-button ion-button fill="outline" slot="end" (click)="refreshList()">Refresh List</ion-button>
        -->
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="( taxDocs$ | async ).length < 1">
        <ion-card-header>
            <ion-card-title>
                No tax docs
            </ion-card-title>
            <ion-card-subtitle>Go to Scan QR to add a doc</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-card *ngFor="let doc of ( taxDocs$ | async ); let i = index;">
        <ion-card-header>
            <ion-card-title>
                {{ doc?.docNumber }}
            </ion-card-title>
            <ion-card-subtitle>
                {{ doc?.description }}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="none">
                <ion-label slot="start">
                    {{ doc?.issuerName }}
                </ion-label>
                <!--
                <ion-button fill="outline"
                            [routerLink]="[ '/doc', i ]"
                            slot="end">
                    Data
                </ion-button>
                -->
                <ion-button fill="outline"
                            [routerLink]="[ '/doc-facsimile', i ]"
                            slot="end">
                    Form
                </ion-button>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>
